body{
  background-color: black;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5rem;
  padding-right: 5rem;
  background-color: white;
}

.header.inactive{
  display: none;
}

.headerbtn{
  width: 50%;
  text-align: center;
  cursor: pointer;
}

.icon{
  padding-left: 1rem;
  color: black;
}

#projectsPageCanvas{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: 0;
}


.home{
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: none;
  background-color: #f0f0f0;
  padding: 20px;
  box-sizing: border-box;
  overflow-x: hidden;
}
.home.active{
  display: block;
}


#canvas{
  position: absolute;
  top: 3em;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: lightblue; /* Replace with your canvas styles */
  transition: transform 0.5s ease;
}

.transition{
  transform: translateY(-110%);
}


body{
  overflow-x: hidden;
  overflow-x: hidden;
}

.about{
  width: 50%;
  position: relative;
  font-size: 1.2rem;
  z-index: 1;
  height: 100%;
  display: none;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  overflow-x: hidden;
  margin: auto;
}

.about.active{
  display: block;
}

.projects{
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: none;
  background-color: #f0f0f0;
  padding: 20px;
  box-sizing: border-box;
  overflow-x: hidden;
}

.projects.active{
  display: block;
}
